.category-card {
  width: 310px;
}
.category-card .body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
/* .category-card .body svg {
  padding: 1rem;
  background-color: #fff;
} */
