.text-xl {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: #ffffff;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 124%;
  letter-spacing: -0.96px;
}
