@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Hind Siliguri", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00000000;
  background-image: linear-gradient(to left, #0b1120, #0f172a);
}

code {
  font-family: "Hind Siliguri", sans-serif;
}
